@using System;
@using InfinityHelper.Server.Core;
@inherits InfinityServerTemplate<BattleTurn>
@{ 
    Layout = null;
}
<div class="turn">
    <ul class="turn-data" data-hp='@Html.Raw(JsonUtil.Serialize(Model.HpList))'></ul>
    <div>
        @(Model.CurrentTurn).<span class="name">@(Model.Attacker)</span>  
        @if (Model.IsSkill == 1)
        {
            @:使用技能
            <span class="skill skill-name">@(Model.SkillName)</span>
        }
        @if (Model.HurtType == BattleHurtType.Heal)
        {
            @:治疗了<span class="name">@(Model.Hinjured)</span>
        }
        else
        {
            @:攻击了<span class="name">@(Model.Hinjured)</span>
        }
        @if (Model.IsCritical == 1)
        {
            @:，造成了<span class="state">暴击</span>
        }
        else if (Model.IsCritical == 2)
        {
            @:，但是被<span class="state">闪避</span>
        }
        @if (Model.Hurt != "0")
        {
            if(Model.HurtType == BattleHurtType.Heal)
            {
                @:，回复<span class="heal">@(Model.Hurt)</span>生命
            }
            else
            {
                @:，造成<span class="damage">@(Model.Hurt)</span>伤害
            }            
        }        
        @if(Model.HinjuredConmbatList != null)
        {
            foreach(var t in Model.HinjuredConmbatList)
            {
                <div>
                因<span class="skill skill-name">@t.SkillName</span>，受到<span class="damage">@t.Hurt</span>
                @if (t.IsCritical == 1)
                {
                    @:<span class="state">暴击</span>
                }
                伤害
                </div>
                if (t.IsDeath == 1)
                {
                    @:<span class="name">@(t.Hinjured)</span>死亡了
                }
            }
        }
        @if (Model.IsDeath == 1)
        {
            <div>
                <span class="name">@(Model.Hinjured)</span>死亡了                                  
            </div>
        }
    </div>
</div>